@page
@model ShoppingWeb.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h3>@Model.Welcome</h3>
<div class="row">
    <div class="col-md-12">
        <h3>Contact us</h3>
    </div>
</div>
<form method="post">
    <label asp-for="Message.From"></label> <input type="text" asp-for="Message.From" /><br>
    <label asp-for="Message.To"></label> <input type="text" asp-for="Message.To" /><br>
    <label asp-for="Message.Subject"></label> <input type="text" asp-for="Message.Subject" /><br>
    <label asp-for="Message.Body"></label> <textarea asp-for="Message.Body"></textarea><br>
    <input type="submit" />
</form>


